$white: #f2f2f2;
$black: #262626;
$grey: #bfc0c4;
$reddish: #9e2405;
$clay: #d9936a;
$clay2: #bf755a;
$clay3: #8c5642;

$text-color: $black;
$background-color: $clay;
$shade: $clay3;
$shade2: $clay2;
$primary: $reddish;

$margin-min: 0 1em;
$margin-sm: 0 8vw;
$margin-md: 0 calc((100vw - 500px) / 2);
$margin-lg: 0 calc((100vw - 700px) / 2);

@mixin sm-screen {
  @media (min-width: 420px) {
    @content;
  }
}

@mixin md-screen {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin lg-screen {
  @media (min-width: 950px) {
    @content;
  }
}

@mixin xlg-screen {
  @media (min-width: 1300px) {
    @content;
  }
}
