@import "src/components/layout/variables.scss";

// card layout
.card {
  position: relative;
  $gird-gap: calc(0.8em / 3);
  width: calc(25% - 0.2em);
  margin: 0 $gird-gap $gird-gap 0;
  &:nth-child(4n) {
    margin-right: 0;
  }
  height: 95px;
  @include sm-screen {
    height: 120px;
  }
  @include md-screen {
    height: 135px;
  }
  @include lg-screen {
    $gird-gap-lg: calc(1.2em / 5);
    width: calc(100% / 6 - 0.2em);
    margin: 0 $gird-gap-lg $gird-gap-lg 0;
    &:nth-child(4n) {
      margin-right: $gird-gap-lg;
    }
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

// card design
.card {
  outline: none;
  .back,
  .face {
    position: absolute;
    overflow: hidden;
    pointer-events: none;

    border-radius: 10px;
    border: 2px solid rgba($black, 0.7);
    padding: 3px;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .back {
    background: $clay3;
  }
  .face {
    transform: rotateY(180deg);
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      min-width: 95%;
      max-height: 100%;
      @media (max-width: 350px) {
        min-width: 110%;
      }
    }
  }
}

// card UX
.card {
  cursor: pointer;
  user-select: none;
  transform-style: preserve-3d;
  transition: transform 200ms, opacity 300ms;
  &:active .back {
    box-shadow: inset 3px 3px 2px $black;
  }
}
.card.active {
  pointer-events: none;
  transform: rotateY(180deg);
}
.card.matched {
  .back {
    opacity: 0;
  }
  pointer-events: none;
  transform: rotateY(180deg);
  opacity: 0.3;
  transition-delay: 200ms;
}
