@import "src/components/layout/variables.scss";

.card {
  position: relative;
  $gird-gap: calc(0.8em / 3);
  width: calc(25% - 0.2em);
  margin: 0 $gird-gap $gird-gap 0;
  &:nth-child(4n) {
    margin-right: 0;
  }
  height: 95px;
  @include sm-screen {
    height: 120px;
  }
  @include md-screen {
    height: 135px;
  }
  @include lg-screen {
    $gird-gap-lg: calc(1.2em / 5);
    // height: 90px;
    width: calc(100% / 6 - 0.2em);
    margin: 0 $gird-gap-lg $gird-gap-lg 0;
    &:nth-child(4n) {
      margin-right: $gird-gap-lg;
    }
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.card {
  .back,
  .face {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .back {
    background: $clay3;
  }
  .face {
    transform: rotateY(180deg);
    background: rgba($grey, 0.9);
  }
}

.card {
  cursor: pointer;
  transition: transform 200ms, opacity 200ms;
  &:active {
    transform: scale(0.96);
  }
}
.clicked {
  transform: rotateY(180deg);
}
.matched {
  opacity: 0.5;
}
